---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Yippie The Producer">
	
	<main style="position: relative; padding-top: 50px; text-align: center; -webkit-text-fill-color:white; font-weight: bold; text-size-adjust: auto;">
		<p class="position: relative; padding-top: 50px; text-align: center; -webkit-text-fill-color:white; font-weight: normal; text-size-adjust: auto;">Poland based producer</p>
		<p>-</p>
		<p>yippietheproducer@gmail.com</p>
		<p>---</p>
		
		<a href="https://www.instagram.com/yippie_the_producer/" class="text-white hover:text-blue-700">https://www.instagram.com/yippie_the_producer/</a>
		<p>-</p>
		<a href="https://www.youtube.com/@YippieTheProducer/videos" class="text-white hover:text-blue-700">https://www.youtube.com/@YippieTheProducer/videos</a>
		<p>---</p>

  </Layout>

  <style>
	main {
	  margin: 0px;
	  padding: 1.5rem;
	  background: #575757;
	  height: 100%;
	}
	@media (max-width: 768px) { /* adjust max-width value as needed */
  .text-white {
	margin:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 80%;
	background: #575757;
	height: 100%;
  }
}

	
  </style>
  