---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Yippie The Producer">
	
	<main style="position: relative; padding-top: 50px; text-align: center; -webkit-text-fill-color:white; font-weight: bold; text-size-adjust: 30px;">
		<p class="position: relative; padding-top: 50px; text-align: center; -webkit-text-fill-color:white; font-weight: normal; text-size-adjust: 20px;">Poland based producer</p>
		<p>-</p>
		<p>yippietheproducer@gmail.com</p>
		<p>---</p>
		
		<a href="https://www.instagram.com/yippie_the_producer/" class="text-white hover:text-blue-700">https://www.instagram.com/yippie_the_producer/</a>
		<p>-</p>
		<a href="https://www.youtube.com/@YippieTheProducer/videos" class="text-white hover:text-blue-700">https://www.youtube.com/@YippieTheProducer/videos</a>
		<p>---</p>

  </Layout>

  <style>
	main {
	  margin: auto;
	  padding: 1.5rem;
	  min-height: calc(100vh - 90px);
	  background: #575757;
	}

	
  </style>
  