---
import Layout from '../layouts/Layout.astro';
---

<Layout title="My Music">
	
	<main style="position: relative; padding-top: 50px;">
		<div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
		  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/7153DEKqBqWh9DtCdfzV4m?utm_source=generator&theme=0" width="100%" height="950px" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
		  
		  <h2 style="font-weight: bold; margin-bottom: 1rem; font-size: 30px; -webkit-text-fill-color: white;"></h2>
		  <h2 style="font-weight: bold; margin-bottom: 1rem; font-size: 30px; -webkit-text-fill-color: white;"></h2>
		  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/09cSF1iGaGgTodjexmUOeR?utm_source=generator" width="auto" height="400px" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

		  <h2 style="font-weight: normal; margin-bottom: 1rem; font-size: 14px; -webkit-text-fill-color: white;">prod: Hues, Been Away, Pray, In The Sun (120k+ listens)</h2>
		
		
		
		</div>
		<ul role="list" class="link-card-grid"></ul>
	  </main>
  </Layout>

  <style>
	main {
	  margin: auto;
	  padding: 1.5rem;
	  min-height: calc(100vh - 90px);
	  background: #575757;
	}
	
  </style>
  